Welcome, <%= current_user.email %>!
<br/>

<% if @campaigns.present? %>
  <p>Here are your campaigns:</p>
  <ul>
    <% @campaigns.each do |campaign| %>
      <li> <%= link_to campaign.title, campaign_path(campaign) %> </li>
    <% end %>
  </ul>
<% end %>

<p>Create a new campaign?</p>
<%= render :partial => "campaigns/new_campaign_menu" %>
