<%= link_to 'Create campaign', new_campaign_path %>

<% if @campaigns.present? %>
  <ul>
    <% @campaigns.each do |campaign| %>
      <li> <%= link_to campaign.title, campaign_path(campaign) %> </li>
    <% end %>
  </ul>
<% end %>