.image.donate

.donate_sidebar
  %h2
    Join our fight!
  .type.birthday
    .cupcake
    .button= link_to('Donate your birthday', '')
  .type.one_time
    .change
    .button= link_to('Make a one time donation', '')


.clear
