.row
  .six.columns
    .panel.radius
      %h3.subheader
        Living More than Me is a simple way for you to create your own fundraising campaigns and easily track their progress.
      %h4.subheader
        Make a page today, share it with your family and friends, and start helping get more girls into school!
  .six.columns.end
    .panel.callout.radius
      %h4.inverted
        Here’s how it works:
      %ol
        %li
          Out of the world’s 130 million out of school youth, 70% are girls. Thats 91 million girls!
        %li
          Start a campaign on Living More than Me and fundraise away! You can give up your birthday presents, run a race,
          have a bake sale, the possibilities are endless!
        %li
          Track your progress as you raise money to get girls off the street and into school.
= render :partial => "campaigns/new_campaign_menu"
