#campaign-type-selector
  %h2
    Choose your campaign type
  %ul.campaign-types-list
    %li
      %a.campaign-type.birthday{:href => new_campaign_path(:campaign_type => :birthday)}
        %span.image
        %h3
          Give up birthday gifts
        %p
          Make your birthday matter this year.
        %p
          Give up the gifts and ask for your age in dollars instead.
    %li
      %a.campaign-type.something-sporty{:href => new_campaign_path(:campaign_type => :sporty)}
        %span.image
        %h3
          Do something sporty
        %p
          Run, walk, bike, swim, skydive, conquer a triathlon, or sail the ocean... are you tough enough?
    %li
      %a.campaign-type.special-occasion{:href => new_campaign_path(:campaign_type => :special_occasion)}
        %span.image
        %h3
          Use a special occasion
        %p
          Use your wedding, anniversary, christening, shower, bar or bat-mitzvah to raise money.
    .clear
