@import "base";

#campaign-name {
  font-size: $big-text;
  float: left;
  line-height: 80px;
}

#donate-container {
  float: right;
  height: 80px;
  width: 590px;
  background: $bright-pink;
  padding: 17px 23px 21px 45px;
  @include border-radius(6px);
  margin-bottom: 20px;
  p {
    width: 300px;
    color: $white;
    float: left;
    margin-top: 5px;
  }
  #donate-button {
    @include big-button;
    float: right;
  }
}

#campaign-stats {
  clear: both;
  width: 100%;
  height: 80px;
  @include border-radius(6px);
  background: $light-gray;
}
