#campaign-name {
  font-size: 44px;
  line-height: 44px;
}
#donate-container {
  padding: 0 0 0 30px;
}
div.progress {
  height: 44px;
}
.meter {
  color: white;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-shadow: #000 1px 1px 0;
}
.stats-box {
  text-align: center;
}
.stats-name {
  color: $bright-pink;
}
.stats-value {
  font-size: 28px;
  line-height: 44px;
  font-weight: bold;
}

#donation-form {
  position: absolute;
  border: 1px solid $dark-pink;
  padding: 15px 25px 18px;
  width: 350px;
  top: 0px;
  left: 0px;
  background: url('background.png') repeat scroll left top !important;
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
