#campaign-name {
  font-size: 44px;
  line-height: 44px;
}
#donate-container {
  padding: 0 0 0 30px;
}
div.progress {
  height: 44px;
}
.meter {
  color: white;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-shadow: #000 1px 1px 0;
}
.stats-box {
  text-align: center;
}
.stats-name {
  color: $bright-pink;
}
.stats-value {
  font-size: 28px;
  line-height: 44px;
  font-weight: bold;
}
