#account-actions {
  float: right;
}
#profile {
  @include border-radius(6px);
  margin-top: 1em;
  background: #ece5e9;
  #data,
  #amount-raised {
    padding: 14px 0;
    height: 75px;
  }
  #data {
    border-right: 1px solid #F4F0F3;
  }
  #amount-raised {
    border-left: 1px solid #d4ced1;
    p {
      color: $bright-pink;
    }
    .amount {
      float: right;
      color: $dark-gray;
      font-size: 44px;
      line-height: 44px;
      font-weight: bold;
    }
  }
}
