/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import "vars_and_mixins";

body {
  background: url('brown.png');
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
  #site_content {
    width: 1000px;
    margin: 5px auto;
    #page_body {
      clear: both;
      background: $primary_color;
      padding: 10px;
    }
  }
}

a { text-decoration: none; }

.clear { clear: both; }
