/*
 *= require_self
*/

@import "compass/css3";
@import "settings";
@import "foundation";
@import "donate";
@import "foundation_header";
@import "main_header";
@import "campaign";

body {
  font-family: $fontFamily;
  font-size: 14px;
  line-height: 21px;
  background: url('background.png') repeat scroll left top !important;
  color: $dark-gray;
}
.right-aligned {
  text-align: right;
}
h1, h2, h3, h4, h5, h6 {
  &.inverted {
    color: white;
  }
}
#footer-logo {
  background: url('footer-logo.jpg') no-repeat scroll left top;
  width: 110px;
  height: 74px;
  margin: 0 auto;
}

textarea {
  height: 120px;
  max-height: 400px;
}

#popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#flash_alert{
  color: red
}
