/*
 *= require_self
*/

@import "compass/css3";
@import "settings";
@import "foundation";
@import "donate";
@import "foundation_header";
@import "main_header";


body {
  font-family: $fontFamily;
  font-size: 14px;
  line-height: 21px;
  background: url('background.png') repeat scroll left top !important;
}
.right-aligned {
  text-align: right;
}
h1, h2, h3, h4, h5, h6 {
  &.inverted {
    color: white;
  }
}
