@import "vars_and_mixins";

.header {
  height: 96px;
  margin-bottom: 10px;
  #logo {
    background: url('logo.png');
    height: 96px;
    width: 151px;
    float: left;
  }

  a {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  #login_welcome {
    font-size: 13px;
    color: darken($primary-color, 15%);
    float: right;
  }

  #top_navigation {
    float: left;
    width: 849px;
    margin-top: 22px;
    ul li {
      display: inline;
      float: right;
      padding: 0 15px;
      &:first-child { padding-right: 0; }
      a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
      }
    }
  }
}