@charset "UTF-8";
/* CSS Document */

body {
  width: 950px;
  padding-top: 0 ;
  margin: 0 auto;
  background: url("http://morethanme.org/images/background_graph.png") repeat scroll 0 0;
}

#wrapper {
  background: url("http://morethanme.org/images/background.jpg") repeat scroll 0  0 transparent;
  opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
}




/*----------------------------------------------------*/
/*-------------------MAIN MENU------------------------*/
#main-menu {
  height: 60px;
    margin-right: -5px;
  padding-top: 50px;
  float: right;
  }
#main-menu li {
  list-style-type: none;
  display: inline;
  }
#main-menu a {
    background: url("http://morethanme.org/images/main_menu.png") no-repeat scroll 0 0 transparent;
    display: block;
  float: left;
    height: 70px;
    text-indent: -9999px;
  }
#main-menu li.about a {
    background-position: 0 3px;
    width: 100px;
    height: 70px;
  }
#main-menu li.sheneedsyou a {
    background-position: -100px 3px;
    width: 135px;
    height: 70px;
  padding-right: 15px;
  }
#main-menu li.meether a {
    background-position: -248px 3px;
    width: 105px;
    height: 70px;
  padding-right: 8px;
  }
#main-menu li.donate a {
    background-position: -360px 3px;
    width: 126px;
    height: 70px;
  }
#main-menu li.store a {
    background-position: -492px 3px;
    width: 99px;
    height: 70px;
  }
#main-menu li.blog a {
    background-position: -598px 3px;
    width: 105px;
    height: 70px;
  }
#main-menu li.about a:hover {
    background-position: left -74px;
  }
#main-menu li.sheneedsyou a:hover {
    background-position: -100px -74px;
  }
#main-menu li.meether a:hover {
    background-position: -248px -74px;
  }
#main-menu li.donate a:hover {
    background-position: -360px -74px;
  }
#main-menu li.store a:hover {
    background-position: -492px -74px;
  }
#main-menu li.blog a:hover {
    background-position: -598px -74px;
  }



/*----------------------------------------------------*/
/*--------------------GLABAL STYLES-------------------*/
img {
  border: none;
  }
.clear {
  clear: both;
  }
#container {
  width: 950px; 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  padding: 0;
  }
#logo {
  float: left; 
  position: relative; 
  padding-top: 4px;
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  }
#header {
  margin-top: 0;
  height: 133px;
  background: none;
  }
#content {
  width: 920px;
  }
#main-content {
  width: 920px;
  background: #fff;
  padding: 30px 20px;
  -moz-border-radius: 20px;
  -mox-box-shadow: 0px 3px 10px #99906d;
  -webkit-box-shadow: 0px 3px 10px #99906d;
  box-shadow: 0px 3px 10px #99906d;
  color: #333;
  }
#main-content a {
  color: #0051AE;
  text-decoration: underline;
  }
#main-content a:hover {
  color: #000;
  text-decoration: underline;
  }
#content-left {
  width: 630px;
  float: left;
  margin-right: 25px;
  }
#content-right {
  width: 239px;
  float: left;
  font-size: 12px;
  padding: 10px 12px;
  border-left: 1px dashed #999;
  background: #efefef;
  }
#content-right p {
  margin-top: 2px;
  }
#main-content h3 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 13px;
  }
h4, .about-titles, .sheneedsyou-titles {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px; 
  text-transform: uppercase;
  }


/*-----homepage SLIDESHOW----------*/
#slideshow {
  width: 920px;
  margin-bottom: 30px;
  }
#slideshow a.right, #slideshow a.left {
    margin-top: 200px;
    position: absolute;
  opacity: 0.4;
  z-index: 2000;
    cursor:pointer;
  }
#slideshow .slideshow-nav a.right:hover, #slideshow .slideshow-nav a.left:hover {
  opacity: 1;
  }
#slideshow .slideshow-nav a.right {
  margin-left: -60px;
  }
#slideshow .slideshow-nav a.left {
  margin-left: -10px;
  }
#slideshow .scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 920px;
  background: #fff;
  height: 460px;
  float:left;   
  }
#slideshow .scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
  }
#slideshow .items div {
  float:left;
  }
#slideshow .items img { 
  width: 920px;
  }



.featured {
  float: left;
  position: relative;
  }
#mission {
    font-size: 14px;
    line-height: 1.6em;
  width: 25%;
  margin-right: 20px; 
  padding-right: 15px;
  }
#blog {
  width: 35%;
  border-right: 1px dotted #666;
  border-left: 1px dotted #666;
  padding: 0 20px;
  }
#sponsorgirl {
  width: 26%;
  padding: 0 0 0 20px;
  }
#blog h4 {
  padding-bottom: 10px;
  }
#main-content .rss-item {padding-bottom: 7px;}
#main-content .rss-item a {color: #0051AE; font-size: 14px; font-style: italic; font-family: Georgia, Times, serif;}
#main-content .rss-item a:hover {color: #000;}
#main-content .rss-item span.rss-item-date {color: #666; font-size: 11px;}






/*----------------------------------------------------*/
/*----------------------ABOUT PAGE--------------------*/
#about-slideshow .scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  height: 170px;
  width: 475px;
  padding: 15px;
  float:left;
  }

#about-slideshow .scrollable .items {
  width:20000em;
  position:absolute;
  }
#about-slideshow .items div {
  float:left;
  }
#about-slideshow .items img {
  margin: 0 8px; 
  width: 150px;
  }
#about-slideshow a.right {
  margin-top:60px; 
  float: right;
  margin-right: 30px; 
  cursor:pointer;
  }
#about-slideshow a.left {
  float: left; 
  margin-top: 60px; 
  left: -10px; 
  cursor:pointer;
  }

#about-press ul {
  margin-bottom: 6px;
  padding: 0;
  }
#about-press ul li {
  list-style-type: none;
  padding-bottom: 7px;
  line-height: 1.4em;
  }
#about-press ul li a, #inspired-press ul li a {
  color: #0051AE;
  text-decoration: underline;
  }
#about-press ul li a:hover, #inspired-press ul li a:hover {
  color: #000;
  }

/*----------------------------------------------------*/
/*---------------------MEET THE TEAM------------------*/
#meet-team h4, .about-titles, #main-content h4.about-titles a{
  color: #533C5B; text-decoration: none;
}
#about-founder h4.about-titles a {
  text-decoration: underline;
}

#meet-team h4 {margin-left: 240px;} 

#meet-team {padding-top: 20px;}
.team-member a {
  text-decoration: underline;
  color: #68838B;
  font-style: normal;
  }
.team-member img {
  float: left;
  margin-right: 20px;
  margin-left: 30px;
  -mox-box-shadow: 3px 3px 5px #AAAAAA;
  -webkit-box-shadow: 3px 3px 5px #AAAAAA;
  box-shadow: 3px 3px 5px #AAAAAA;
  }
.team-member p {
  padding-right: 30px;
    width: 650px;
  float: right;
  margin-top: 0;
  }
.team-member-name {
  color: #666;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  }
.team-member-name span{
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  color: #000;
  }
#meet-team .divider {
  border-top: 1px dashed #533C5B;
  width: inherit;
  margin: 40px 250px 40px 300px;
  }



/*----------------------------------------------------*/
/*----------------SHE NEEDS YOU PAGE------------------*/
.sheneedsyou-titles {
  color: #68A645;
  }
.donate-birthday {
  float: right;
  width: 490px;
  margin-bottom: 10px;
  }

#volunteer-form input, #volunteer-form textarea {
    border: 1px solid #999;
    font-family: Helvetica,sans-serif;
    font-size: 10px;
    margin: 0 0 10px;
    padding: 6px;
    width: 471px;
}
#volunteer-form textarea {
    height: 250px;
}
#volunteer-form textarea:focus, #volunteer-form input:focus {
    border: 1px solid #319E2C;
}
#volunteer-form input.SendFeedback {
    float: left;
    width: 80px;
  margin-left: 405px;
  background: none repeat scroll 0 0 #319E2C;
    border: 1px solid #319E2C;
    clear: both;
    color: #FFFFFF;
}
.alignCity, .alignCountry, .alignPhone{
  width: 220px; 
  margin-right: 40px; 
  float: left;
  }
.alignState{
  width: 50px; 
  margin-right: 40px; 
  float: left;
  }
.alignZip{
  width: 100px; 
  float: left;
  }
.alignCity label {
  width: 290px; 
  }
.alignState label {
  width: 50px; 
  }
.alignZip label {
  width: 140px; 
  }
label {
    color: #666;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding-top: 7px;
    width: 640px;
}
#thankyou, #error {
  text-align: center;
  width: inherit;
  margin: 100px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 15px;
  color: #319E2C;
  }
#archive a {
  text-decoration: underline;
  }
#subscription form #mce-EMAIL {
  border: 1px solid #999; 
  padding: 4px; 
  width: 230px;
  }
#subscription form #submit {
    background: none repeat scroll 0 0 #319E2C;
    border: 1px solid #319E2C;
    clear: both;
    color: #FFFFFF;
    display: block;
    float: right;
    margin: 5px 0 0;
    padding: 3px 10px;
    text-transform: uppercase;
    width: auto;
  }
#subscription, #archive, #board-members {
  margin-bottom: 40px;
  }



/*----------------------------------------------------*/
/*----------------------GET INSPIRED------------------*/
p.quote {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color:#666;
  font-size: 13px;
  padding-bottom: 10px;
}
span.quote-credit {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  }
#inspired-press ul li {
  list-style-type: none;
  padding-bottom: 0px;
  line-height: 0.2em;
  }
#inspired-press ul {
  padding-left: 0;
  padding-top: 5px;
  }





  
/*----------------------------------------------------*/
/*---------------------MEET HER ----------------------*/
#meether-grid a img{
  margin: 0 20px 50px 0px;
  -mox-box-shadow: 3px 3px 5px #AAAAAA;
  -webkit-box-shadow: 3px 3px 5px #AAAAAA;
  box-shadow: 3px 3px 5px #AAAAAA;
  }
#meether-grid a img.no-margin {
  margin-right: 0;
  }
#image-wrap img{
  width: 320px; 
  float: left;
  margin-right: 20px;
  }
#image-wrap {
  margin-bottom: 30px;
  }
.student-bio  {
  width: 576px; 
  float: left;
  padding-right: 4px;
  }
.student-bio .student-name{
  color: #db6b8c;
  font-style: italic;
  font-family: georgia, times, serif;
  font-size: 28px;
  padding-bottom: 10px;
  margin-top: 2px;
  }
.dotted-divder {
  border-bottom: 4px dotted #DB6B8C;
    margin: 90px 100px 30px 0;
    text-align: center;
    width: 300px;
  }

.thumbname {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #db6b8c;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  }
#meether-slideshow  .scrollable {
  position:relative;
  overflow:hidden;
  height: 250px;
  width: 780px;
  padding: 15px;
  float:left; 
  }
#meether-slideshow  .scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
  }
#meether-slideshow  .items img{
  /* this cannot be too large */
  width: 180px;
  margin: 0 10px;
  }
#meether-slideshow  .items div {
  float:left;
  }

#meether-slideshow  a.right {
  margin: 60px 20px 0 0; 
  float: right; 
  cursor:pointer;
  }
#meether-slideshow  a.left  {
  float: left; 
  margin: 60px 20px 0 10px; 
  cursor:pointer;
  } 
  



/*----------------------------------------------------*/
/*-----------------------DONATE-----------------------*/
#donate-main #donate-button, #sheneedsyou-donate #donate-button {
  padding: 8px 50px 10px 50px; 
  background-color: #990000; 
  color: #fff; 
  font-family: Georgia, Times, serif; 
  font-style: italic; 
  font-size: 15px; 
  text-transform: lowercase; 
  text-decoration: none; 
  border: none;
  cursor: pointer;
  }
 #sheneedsyou-donate #donate-button {
   margin: 10px 0 60px 30px;
  -moz-border-radius: 10px;
   }
 #donate-main form {
  margin: 20px 0  20px 180px;
  }
img.donate-infographic {
  margin-left: 30px;
    }
#main-content h3 span {
  font-family: Times, serif;
  font-style: italic;
  text-transform: lowercase;
  font-size: 17px;
  color: #db6b8c;
  }
form#sponsor-girl option {
  padding:2px 3px;
  } 
form#sponsor-girl select {
  border: 1px solid #999; 
  background: #fff; 
  padding-top: 2px; 
  width: 140px; 
  margin-bottom: 5px;
  }
form#sponsor-girl input.submit {
    padding: 3px 10px 5px 10px;
  float: right;
  background-color: #db6b8c;
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #db6b8c;
  text-decoration: none;
  margin-left: 5px;
  -moz-border-radius: 4px;
  cursor: pointer;
  }
.donation-option input{
  width: 100px;
  padding: 5px 10px 4px 10px;
  background-color: #990000;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 158px;
  border: none;
  }
.donate-text {
  margin: 0 20px 50px 0px;
  width: 240px;
  }
pre {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  }
#main-content .donate-text a.donate-other {
  padding: 3px 7px 0px 7px;
  float: right;
  background-color: #e0e0e0;
  color: #990000;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ccc;
  text-decoration: none;
  margin-left: 5px;
  -moz-border-radius: 4px;
  }
#main-content .donate-text a:hover.donate-other {
  background: #990000;
  color: #fff;
  }
ul.partners {
  padding-left: 0;
  }
ul.partners li {
  list-style: none; margin: 0;
  } 
  
  
  
  
/*----------------------------------------------------*/
/*-------------------------STORE----------------------*/
.store-items a  {
  border: 1px solid #efefef;
  width: 180px;
  height: 100px;
  }




/*----------------------------------------------------*/
/*------------------------FOOTER----------------------*/
#footer {
  color: #000;
  font-size: 11px;
  height: 140px;
  }
#footer-menu  {
  width: 790px;
  float: left;
  }
#footer-menu ul {
  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 3px;
  }
#footer-menu ul li {
  list-style-type: none;
  display: inline;
  border-right: 1px dashed #999;
  padding: 0 15px;
  }
#footer-menu ul li a {
  font-size: 10px;
  color: #000;
  text-decoration: none;
  }
#footer-menu ul li a:hover {
  color: #06F;
  text-decoration: underline;
  }
.copyright  {
  float: left;
  margin: 0 15px;
  }
.copyright span {
   margin-left: 226px;
   color: #000000;
   font-size: 10px;
   }
.copyright span a, .copyright span a:visited{
  text-decoration: underline;
  color: #0051AE;
  }
.copyright span a:hover{
  text-decoration: underline;
   color: #000000;
   }
#social-icons {
  float: left;
  margin: 22px 20px 0 20px;
  }
#social-icons a {
  width: 35px;
  margin-right: 10px;
  }




/*----------------------------------------------------*/
/*---------------------SITEMAP  ----------------------*/
#sitemap {
  margin: 40px 0;
  }
ul.sitemap  {
  list-style: none;
  float: left;
  width: 250px;
  }
ul.sitemap li  {
  color: #333;
  }